*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

header {
    padding: 10px 82px
}

section {
    padding: 0 84px;
    padding-top: 50px;
}


#home {
    background-image: url(assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    color: white;
    background-size: cover;
    font-size: 35px;
}


#home-text-left {
    padding-top: 84px;
    padding-bottom: 84px;
}

#home-text-right {
    text-align: right;
    padding-bottom: 84px;
}



.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.justify-between {
    justify-content: space-between; 
}

.align-baseline {
    align-items: baseline;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
    font-size: 12px;
    letter-spacing: 5px;
}

.logo img {
    width: 25px;
}

.border-bottom {
    border-bottom: black solid 3px;
    padding-bottom: 5px;
}

.product-card {

}

.product-card img {
    width: 150px;
}